@charset  "utf-8";
/*rest*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body{font-size:12px;font-family:"微软雅黑";}
/*end rest*/

/*public*/
.clear{zoom:1;}
.clear:after{content:"";display:block; clear:both;}
.fl{float:left;}
.fr{float:right;}
.gradient {
	background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:linear-gradient(top, #FFFFFF, #f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	+background:#f9f9f9;
}
.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red { border-top:4px solid #ca0309; }
.triangle_down_gray { border-top:4px solid #c4bdbd; }
/*end public*/
/*layout*/
	#header,#M_ad,.content,#footer{width:960px;margin:0 auto;}
	#header{height:180px;border-radius:6px;position:relative;border-radius:6px;margin-bottom:5px;}
	#M_ad{margin-bottom:5px;}
	.main{width:710px;}
	.wrap{margin-bottom:10px;}
	.main_ad{overflow:hidden;border-radius:6px;margin-bottom:10px;}
	.options{width:350px;position:relative;}
	.section{width:318px;border:1px solid #dadada;padding: 0 15px;border-radius:6px;}
	.side{width:240px;}
	.side_ad{overflow:hidden;border-radius:6px;margin-bottom:10px;}
	.side_section{border:1px solid #dadada;border-radius:6px;margin-bottom:10px;}
	#footer{height:30p;border:1px solid #dadada;border-radius:6px;overflow:hidden;position:relative;margin-bottom:10px;}
	
/*end layout*/
@media only screen and (min-width:1024px){
	#header,#M_ad,.content,#footer{width:960px;margin:auto;}
	#header,#M_ad,#footer{margin-bottom:10px;}
}
@media only screen and (min-width:480px) and (max-width:1024px){
	#header,#M_ad,.content,#footer{width:98%;}}
@media only screen and (max-width:480px){
	.form,.main_menu,.content,.main,.side,.footer_con{width:98%;}
}
body{background-image:url(../img/content/background2.png);background-repeat:no-repeat;width:100%;overflow-x:hidden;background-attachment:fixed;background-position:center center;width:100%;}
img,object{max-width:100%;}
.options .nav{height:34px;position:relative;z-index:2;}
.options .nav li{height:33px;width:172px;line-height:34px;border:1px solid #dadada;border-radius:6px 6px 0 0;text-align:center;border-bottom:none;position:relative;cursor:pointer;}
.options .nav .active  { height:34px; line-height:34px; background:#fff; }
.options .con { width:318px; padding:0 15px; border:1px solid #dbdbdb; border-radius:0 0 6px 6px; position:absolute; top:34px;z-index:1;}
.main_title{height:40px;line-height:40px;}
.main_title span{float:left;color:red;font-size:12px;font-weight:normal;}
.main_title span strong{color:black;}
.main_title img{float:right;top:12px;position:relative}


#header  .img{height:160px;width:300px;background:url(../img/logo.png) no-repeat 0 -70px;position:absolute;left:50px;}
#header .form{position:absolute;left:320px;top:80px;height:40px;}
#header  .text{height:40px;border:1px solid #dadada;width:300px;border-radius:6px;text-indent:10px;line-height:40px;float:left;} 
#header  .btn{height:40px;width:40px;background:url(../img/search.png) no-repeat -5px 0;border-radius:6px;position:absolut;margin-left:10px;float:left;cursor:pointer;}
#header .main_menu{position:relative;left:850px;top:10px;}
#header .main_menu img{height:12px;width:12px;position:relative;}
#header .main_menu li{line-height:10px;width:80px;}
#header .main_menu li a{color:red;font-size:13px;font-weight:normal;}
#header .main_menu li a:hover{color:#fff;background:red;}
#header .sub_menu{position:relative;background:#202020;width:60px;filter:alpha(opacity:50);opacity:0.5;margin-top:6px;display:none;}
#header .sub_menu li{position:absolut;height:25px;line-height:25px;width:60px;color:#fff;text-align:center;border-color:rgba(0,0,0,0.5);cursor:pointer;margin-bottom:5px;}
#header .sub_menu li a{color:#fff;}
#header .sub_menu li:hover{background:red;}

#M_ad{height:396px;width:960px;position:relative;}
#M_ad a{height:50px;width:50px;font-size:36px;color:#fff;position:absolute;border:3px solid #fff;border-radius:6px;top:180px;line-height:50px;text-align:center;filter:alpha(opacity:50);opacity:0.5;}
#M_ad a:hover{filter:alpha(opacity:100);opacity:1;}
.prev{left:11px;}
.next{right:11px;}
#M_ad img {border-radius:6px;}

.video_title {height:36px;line-height:36px;color:red;background:url(../img/video_bg.gif) no-repeat 106px 12px;margin-bottom:5px;position:relative;}
.video_title strong{font-weight:normal;}
.video{margin-bottom:10px;height:285px;}
.video_list{margin-bottom:10px;}
.video_list ul{background:url(../img/video_bg.gif) no-repeat 0 -45px;height:70px;position:relative;}
.video_list li{height:20px;line-height:20px;position:relative;left:76px;background:url(../img/dot.gif) no-repeat 0 9px;text-indent:4px;}
.video_list li a{color:#666;}
.video_list li a:hover{text-decoration:underline;}

.nav  strong{font-size:12px;font-weight:normal;}
.nav span{font-weight:bold;color:black;}
.nav a{right:25px;top:12px;}
.nav .active strong{color:red;}
.hot_list{position:relative;height:382px;} 
.hot_list ul{padding-top:10px;}
.hot_list ul li{height:98px;padding-top:10px;background:url(../img/hot_list_li_bg.gif) no-repeat;padding-bottom:10px;}
.hot_list .img{height:86px;width:106px;}
.hot_list .img a{height:86px;width:106px;border:1px solid #dadada;display:block;padding:2px;}
.hot_list .img a:hover{border:1px solid #666;}
.hot_list .img img{height:84px;width:104px;}
.hot_list .text{width:190px;}
.hot_list .text h3{height:22px;line-height:22px;font-size:12px;}
.hot_list .text h3 a{color:red;font-size:12px;}
.hot_list .text h3 a:hover{text-decoration:underline;}
.hot_list .text p{height:18px;line-height:18px;color:#666;padding-top:5px;}
.hot_list .more{position:absolute;bottom:10px;right:0;}

.new_title{height:70px;background:url(../img/new_title_bg.gif) no-repeat right 0;}
.new_title span{color:red;font-size:12px;top:15px;}
.new_title em{font-size:24px;font-weight:normal;top:26px;}
.new_title strong{color:red;font-size:32px;left:125px;position:absolute;top:15px;}
.new_title span,.new_title em{position:absolute;left:25px;}

.activity{position:relative;}
.activity,.recommend{border:1px solid #dadada;width:348px;border-radius:6px;height:498px;}
.recommend .new_title{background-position:102px -70px;position:relative;}


.activity .con{background:url(../img/activity_bg.gif)no-repeat;width:318px;}
.activity .info{height:84px;width:318px;padding-top:16px;padding-left:25px;padding-bottom:16px;}
.activity .img{width:84px;height:84px;position:relative;}
.activity .img .mask{background:url(../img/activity_bg.gif) no-repeat -373px 0;width:84px;height:84px;position:absolute;}
.activity  .img img{width:82px;height:82px;}
.activity  .text{width:220px;}
.activity .text em ,.activity .text span{float:left;}
.activity .text h3{height:30px;}
.activity  .text em{background:url(../img/activity_bg.gif) no-repeat -345px 0;width:27px; height:27px;color:red;line-height:27px;text-align:center;margin-left:3px;}
.activity  .text span{color:black;font-size:12px;margin-left:3px;margin-top:4px;}
.activity  .text p{font-size:12px;font-weight:normal;color:#666;line-height:18px;padding-top:10px;}

.calendar{width:323px; padding-left:25px; position:relative; }
.calendar h3{height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../img/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span{font-size:14px; font-family:arial; color:#666; }
.calendar ol li{width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; background:#ededed; float:left; text-align:center; position:relative; font-weight:bold; color:#666; font-family:arial; }
.calendar .normal{background:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img {position:absolute; top:0; left:0; }
.calendar .active{width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar .img{width:40px; height:40px; cursor:pointer; }

.today_info{ width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:136px; left:288px;  display:none;border-radius:6px; }
.today_info img{width:80px; height:80px; border:2px solid #dbdbdb; float:left; border-radius:4px;}
.today_info .text{width:200px; float:right; }
.today_info h4{font-size:12px; color:#333; padding-bottom:8px; }
.today_info strong{color:#ccc; font-size:18px; vertical-align:middle; }
.today_info p{color:#999; line-height:20px; }
.today_info span{width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }

.recommend .pic{width:294px; height:168px;padding:12px 12px 0;background:#f8f8f8;margin: 0 auto;position:relative;border-radius:6px;}
.recommend .pic ul{float:left;}
.recommend .pic ul li{width:223px;height:134px;position:absolute;}
.recommend .pic ul img{width:223px;height:134px}
.recommend .pic ol {float:right;}
.recommend .pic ol li{width:54px;height:30px;margin-bottom:20px;}
.recommend .pic ol img{width:54px;height:30px;}
.recommend .pic ol .active{border:2px solid red;}
.recommend .pic p { line-height:32px; position:absolute; left:12px; bottom:0px; }

.recommend .list {padding:20px 20px 0;}
.recommend .list li{height:27px;vertical-align:middle;}
.recommend .list  li em{margin-right:6px;float:left;color:gray;}
.recommend .list em img{margin-right:5px;}
.recommend .list li a{color:#454545;}
.recommend .list li a:hover{text-decoration:underline;}
.recommend .list span{float:right;color:#999;font-family:arial;}

.date {font-size:26px;color:#ccc;margin:0 10px;margin-bottom:3px;}
.side_fen{height:76px;background:#dadada;width:220px;margin:0 10px;margin-bottom:3px;border-radius:6px;}


.section_Nav{height:26px;border-bottom:1px solid #dadada;padding:0 7px;margin-bottom:1px;}
.section_Nav li{height:25px;line-height:25px;border:1px solid #dadada;border-bottom:none;border-radius:6px 6px 0 0;float:left;margin-left:-1px;text-align:center;cursor:pointer;}
.section_Nav li a{top:8px;position:relative;right:-3px;}
.section_Nav .active{height:26px;border-bottom:1px solid #fff;background:#fff;}

.section_list{position:relative;padding:0 10px;}
.section_list li{height:27px;line-height:27px;border-top:1px dashed #dadada;background:url(../img/dot.gif) no-repeat 5px 12px;}
.section_list li a{float:left;text-indent:14px;color:#666;}
.section_list li a:hover{color:red;}
.section_list em{color:#dadada;}
.section_list em span{color:red;}

.section_list .title{color:#dadada;background:none;border-top:none;}
.section_list .title .col1{text-align:center;}
.section_list .title .col2{color:#dadada;}

.side_section .col1{width:136px;}
.side_section .col2{width:36px;color:red;}
.side_section .col3{width:35px;color:#dadada;}
.section .col1{width:260px;}
.section .col2{width:30px;}
.section .col2 img{top:8px;position:relative;}


.section_list .col1,.section_list .col2,.section_list .col3{float:left;}
.section_list .col2,.section_list .col3{text-align:center;}

.wrap_section1{margin-bottom:10px;position:relative;}
.wrap_section1 .section_Nav li{width:73px;}
.wrap_section2 .pic_list li{border-bottom:none;}
.wrap_section2 .pic_list{margin-bottom:3px;}
.wrap_section3 .section_Nav li{width:100px;}
.wrap_section3{height:280px;overflow:hidden;}

.pic_list{padding:0 10px;margin-bottom:10px;}
.pic_list li{height:70px;border-bottom:1px dashed #dadada;margin-top:10px;padding-bottom:10px;}
.pic_list .img{height:67px;width:90px;}
.pic_list .img a{display:block;padding:2px;height:67px;width:90px;border:1px solid #dadada;}
.pic_list .img a:hover{border:1px solid red;}
.pic_list .text{width:110px;}
.pic_list .text h3{height:25px;line-height:25px;}
.pic_list .text h3 a{color:red;font-weight:normal;font-size:12px;}
.pic_list .text p{color:#dadada;height:20px;line-height:20px;}
.pic_list .text p a{color:#666;}
.pic_list .text p a:hover{color:red;}
.pic_list .text h3 a:hover{text-decoration:underline;}

.wrap_section3 .form{height:40px;line-height:40px;left:20px;position:relative;}
.wrap_section3 form{float:left;line-height:40px;font-size:13px;color:gray;}
.wrap_section3 .form .text{border-radius:3px;text-indent:5px;font-size:12px;text-indent:8px;color:#666;height:20px;width:170px;margin-right:5px;font-weight:normal;}
.wrap_section3 .form .btn{width:25px;height:25px;background:url(../img/btn.png) no-repeat ;border:none;top:7px;position:relative;cursor:pointer;}

.hot_area{height:260px;margin:10px 0;} 
.hot_area li{float:left;margin: 0 2px 2px 0;position:relative;}
.hot_area li,.hot_area li img{width:78px;height:78px;}
.hot_area .area,.hot_area .area img{width:156px;height:78px;}
.hot_area .area2,.hot_area .area2 img{height:78px;width:77px;}
.hot_area  p{position:absolute;padding:10px 0 0 10px;;color:#dadada;background:rgba(0,0,0,0.5);height:68px;width:146px;top:0;left:0;}

.footer_con{position:relative;}
.footer_con .narrated{height:100px;float:left;left:120px;position:relative;top:10px;}
.footer_con .narrated img{left:120px;}
.footer_con .narrated ul{float:right;}
.footer_con .narrated ul h3{color:red;height:27px;line-height:27px;top:6px;width:100px;text-align:center;font-weight:normal;}
.footer_con .narrated ul p{color:#666;height:18px;line-height:18px;width:120px;text-align:center;}
.footer_con .narrated ul li{height}
.footer_con .address{position:absolute;top:10px;right:0;}
.footer_con .address li{width:160px;float:left;text-align:center;}
.footer_con .address li p a{top:5px;position:relative;color:#666;}
.footer_con .address li p a:hover{text-decoration:underline;}
.footer_con2{height:30px;line-height:30px;left:200px;position:relative;}
.footer_con2 li{float:left;width:60px;margin-left:30px;}
.footer_con2 li a{color:#666;}
.footer_con2 li a:hover{background:red;color:#fff;}
