@charset "utf-8";
/*CSS RESET*/
*{margin: 0;padding: 0;border: 0;outline: 0;font:"微软雅黑";}
html,body{height: 100%;background-color:#1a1b1f;}
table{border-collapse: collapse; border-spacing: 0;}
/*END RESET*/
header .navbar{
	margin-bottom:0;
	border-radius:0;
	background:rgba(248,248,248,0.9);  
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}
header p{margin-bottom: 0;}
#section1{
	height: 100%;
	background:url(../images/bg2.jpg) no-repeat;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 0;
}
#section2,#section3,#section4{margin-top: 30px;}
.row{margin-top: 20px;}
#basic1,#basic2,#basic3,#basic4{
	text-align: center;
}
#basic2{cursor: pointer;}
#basic2_tip{float:left;position:absolute;display: none;}
#section1 p,#section2 p{
	font-size: 1.5vw;
}
#section2 .row .imgBox{
	padding: 0;
	border: 3px solid #ccc;
	border-radius: 50%;
	text-align: center;
}
#section2 .row .imgBox{
	-moz-transition:-moz-transform 1.5s; /* Firefox 4 */
	-webkit-transition:-webkit-transform 1.5s; /* Safari and Chrome */
	-o-transition:-o-transform 1.5s; /* Opera */
}
#section2 .row .imgBox:hover{
	transform:rotate(720deg);
	-moz-transform:rotate(720deg); /* Firefox 4 */
	-webkit-transform:rotate(720deg); /* Safari and Chrome */
	-o-transform:rotate(720deg);
}
#section2 .row .imgBox img{width: 80%;height: 80%;}
#section_pop{
	position:fixed !important;
	position:absolute;
	left:50%;
	top:50%;
	z-index:5;
	display: none;
}
#animalSign{display: none;}
#closeBtn{
	padding: 0 10px;
}
#section_pop img{
	width: 100%;
	height: 100%;
	-moz-transition:-moz-transform 2s; /* Firefox 4 */
	-webkit-transition:-webkit-transform 2s; /* Safari and Chrome */
	-o-transition:-o-transform 2s; /* Opera */
}
#arrow{
	position: absolute;
	top: 10%;
	z-index: 10;
	width: 3px;
	background: #f00;
}
#pop_bg
{
	background-color:black;
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	opacity:0.8;
	filter:alpha(opacity=80); 
	-moz-opacity:0.8; 
	-khtml-opacity:0.8;
}
#section3 p{font-size: 1.3vw;}
#skill_level{
	float: right;
}
#section3 .level{
	height: 40px;
	float: right;
	border: 1px solid #ccc;
	border-right: none;
	text-align: center;
	line-height: 40px;
}
#section3 #skill_name{
	float: left;
	list-style: none;
	border: 1px solid #ccc;
}
#section3 #skill_name li{
	height: 50px;
	line-height: 50px;
	font-size: 1vw;
	border-bottom: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}
#section3 #skill_level_bar{
	float: left;
	list-style: none;
}
#section3 #skill_level_bar li{
	height: 50px;
	padding: 20px;
}
#section4 *{text-shadow: none;}
#section4 .carousel-inner img{width: 100%;height: 100%;}
#section4 .carousel-inner *{text-align: left;}
#section4 .carousel-inner h2{color: #000;font-size: 2vw;}
#section4 .carousel-inner p{color: #000;font-size: 1.3vw;}
#section4 .carousel-inner ul li{color: #000;font-size: 1vw;}
#section4 #banner .carousel-caption{top: 5%;padding-top: 0;}
#section7 input,#section7 textarea{
	border-radius:5px;
	font-size: 1.5vw;
	margin: 30px 0;
}
#send{
	margin-top: 20px;
	border: 2px solid #13BEEC;
	border-radius: 50%;
	background: url(../images/send.png) center center no-repeat;
	background-size: 80%;
	transition: background 0.8s,border 0.8s;
	-moz-transition:background 0.8s,border 0.8s; /* Firefox 4 */
	-webkit-transition:background 0.8s,border 0.8s; /* Safari and Chrome */
	-o-transition: 0.8s,border 0.8s; /* Opera */
}
#send:hover{
	border:2px solid #CDCDCD;
	background: url(../images/send.png) center center no-repeat,#CDCDCD;
	background-size: 90%;
}
#section7 #con_tip{font-size: 1.8vw;}
#section7 .con_ways{font-size: 1vw;}
#section7 span{width: 10%;}
.clearfix:after{content: '.';display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{zoom:1;}
#section7 #my_con img{float: left;}
#section7 #my_con p{margin-left: 40px;line-height: 30px;vertical-align: center}
#section7 #code img{width: 100%;height: 100%;}