@meta charset="utf-8";
body,ul,li,ol,div{
	margin:0;
	padding:0;
}

html,body {
  width: 100%;
  height: 100%;
  background:url(../images/bg3.png) no-repeat left top;
  overflow-x:hidden;
  background-size:100% 100%;
  background-position:center;
  font-family: "Helvetica",Arial;
  color: white;
  background-color:gray;
  z-index:1;
}

a,a:hover,a:focus{
	text-decoration:none;
	color:#1d9b6c;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.5;
}
@media (max-width: 768px) {
  p {
    margin: 0 0 30px;
    font-size: 19px;
    line-height: 1.6;
  }
}
/*nav*/

.dropdown-menu{
	background-color:rgba(255,255,255,0.3);
	border-radius:9px;
	box-shadow:5px 5px 6px #000;
	width:40px;
}
.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat",Arial;
  height:45px;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover{
	background-color:rgba(255,255,255,0.5)
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}

/*Intro*/
#intro {
	display:table;
	width:100%;
	text-align:center;
	padding:100px 0;
	text-align:center;
	color:white;
	background:url(../images/bg1.jpg) no-repeat bottom center scroll;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}
#intro .intro-body{
	display:table-cell;
	vertical-align:middle;
}
#intro .intro-body .brand-heading{
	font-size:40px;
}
#intro .intro-body .intro-text{
	font-size:18px;
}
#intro .intro-body .btn{
	position:relative;
	margin-top:150px;
}
@media (min-width: 768px){
	#intro{
		height:100%;
		padding:0;
	}
	#intro .intro-body .brand-heading{
		font-size:60px;
	}
	.intro .intro-body .intro-text{
		font-size:26px;
	}
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

#Skill,#Resume,#Demo{
margin-top: 30px;
}
.row{
	margin-top:20px;
}
#AboutMe,#Skill,#Resume,#Demo{
	text-align: center;
}
#AboutMe{
	cursor: pointer;
}
#AboutMe .row{
	margin-top:30px;
}
#AboutMe #Am-tip{
	float:left;
	position:absolute;
	display: none;
}
#AboutMe .row .img-box{
	padding: 0;
	border: 3px solid #ccc;
	border-radius: 50%;
	text-align: center;
}
#AboutMe .row .img-box{
	-moz-transition:-moz-transform 1.5s; /* Firefox 4 */
	-webkit-transition:-webkit-transform 1.5s; /* Safari and Chrome */
	-o-transition:-o-transform 1.5s; /* Opera */
}
#AboutMe .row .img-box:hover{
	transform:rotate(720deg);
	-moz-transform:rotate(720deg); /* Firefox 4 */
	-webkit-transform:rotate(720deg); /* Safari and Chrome */
	-o-transform:rotate(720deg);
}
#AboutMe .row .img-box img{
	width:80%;
	height:80%;
}

#skill_level{
	float: right;
}
#Skill .level{
	height: 40px;
	float: right;
	border: 1px solid #ccc;
	border-right: none;
	text-align: center;
	line-height: 40px;
}

#Skill #skill_name{
	float: left;
	list-style: none;
	border: 1px solid #ccc;
}
#Skill #skill_name li{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}
#skill_name li{
	color:#333;
}
#Skill #skill_level_bar{
	float: left;
	list-style: none;
}
#Skill #skill_level_bar li{
	height: 50px;
	padding: 20px;
}
#Resume *{
	text-shadow: none;
}
#Resume .carousel-inner img{
	width: 100%;
	height: 100%;
}
#Resume .carousel-inner *{
	text-align: left;
}
#Resume .carousel-inner h2{
	color: #000;
	font-size:2em;
}
#Resume .carousel-inner p{
	color: #000;
	font-size: 1.3em;
	}
#Resume .carousel-inner ul li{
	color: #000;
	font-size: 1me;
}
#Resume .carousel-caption{
	top: 5%;
	padding-top: 0;
}
@media (max-width: 768px){
	#Resume .carousel-inner h2{
	color: #000;
	font-size: 19px;
	}
	#Resume .carousel-inner p{
	color: #000;
	font-size:1em;
	}
	#Resume .carousel-inner ul{
		margin-top:-20px;
	} 
	#Resume .carousel-inner ul li{
	color: #000;
	font-size: 0.8me;
}
}
#Demo .panel.panel-gray{
	background-color:#ccc;;
}
#Demo .panel-heading{
	color:#000;
}


.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{ 
	zoom:1;
}

#Contact .Contact-title{
	font-size:1me;
}
.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom:1;
}
#Contact{
	padding-top:50px;
}
#Contact #Contact-body img{
	float: left;
}
#Contact .Contact-title p{
	margin-left: 40px;
	line-height: 30px;
	vertical-align: center;
}
#Contact #code img{
	width: 100%;
	height: 100%;
}

